<h2>Описание проекта</h2>
<p>
    Тестовое задание на python разработчика. Автор - Маркова Мария
</p>
<h2>Используемые технологии</h2>
<p>
    <ul>
        <li>Python 3.10</li>
        <li>Django 4.2</li>
        <li>DRF</li>
        <li>drf-yasg</li>
        <li>redis</li>
        <li>celery</li>
        <li>pytest</li>
        <li>docker</li>
        <li>docker compose</li>
        <li>prometheus</li>
        <li>nginx</li>
    </ul>
</p>
<h2>Запуск проекта</h2>

<h4>Склонируйте репозиторий </h4>

    git clone ссылка

<h4>Заполните .env_fill файл и измените его название на .env</h4>
    
    ACCESS_TOKEN = Токен для сервиса, который занимается отправкой сообщений
    SERVICE_URL = URL сервиса, который занимается отправкой сообщений
    POSTGRES_USER = Пользователь базы данных
    POSTGRES_DB = Название базы данных
    POSTGRES_PASSWORD = Пароль пользователя базы данных
    POSTGRES_HOST = Хост базы данных(db если запускаете через docker compose)
    POSTGRES_PORT = Порт базы данных
    DEBUG = Режим отладки Django
    ALLOWED_HOSTS = allowed_hosts для настроек Djnago
    SECRET_KEY = секретный ключ Django

<h4>Запустите проект командой</h4>
 
    docker compose up -d

<h4>Создайте суперюзера для работы с админ панелью</h4>
 
    docker compose exec web python manage.py createsuperuser

<h2>Помимо основного задания были выполнены:</h2>
<ul>
    <li>
        Дополнительное задание №1: Тестирование написанного кода с помощью pytest
    </li>
    <li>
        Дополнительное задание №3: Docker compose для запуска всех сервисов проекта одной командой (redis, celery, postgres, django, nginx, prometheus)
    </li>
    <li>
        Дополнительное задание №5: По адресу /docs/ открывается страница со Swagger UI(Вы здесь и находитесь)
    </li>
    <li>
        Дополнительное задание №6: 
        Реализован администраторский Web UI с помощью django admin, попасть можно по /admin
    </li>
    <li>
        Дополнительное задание №9:
        Откладывание запросов при неуспехе для последующей повторной отправки
    </li>
    <li>
        Дополнительное задание №12:
        Подробное логирование на всех этапах обработки запросов в /logs/log.json
    </li>
</ul>